.project-card {
  padding: 20px;
  border-radius: var(--radius-md);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 576px) {
  .project-card {
    height: 520px;
  }
}

@media (min-width: 768px) {
  .project-card {
    height: 500px;
  }
}

@media (min-width: 992px) {
  .project-card {
    height: 480px;
  }
}

@media (min-width: 1200px) {
  .project-card {
    height: 520px;
  }
}

@media (min-width: 1400px) {
  .project-card {
    height: 470px;
  }
}

.project-keyboards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3px;
  margin-bottom: 8px;
}

.project-learnmore {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.learnmore {
  margin-bottom: 0 !important;
}

.preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  isolation: isolate;

  position: relative;

  margin-bottom: 20px;
}

.play-button {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 50px;
  height: 50px;
  left: calc(50% - 50px / 2);
  top: calc(50% - 50px / 2);

  background: var(--section);
  border: 2px solid var(--icon);
  border-radius: var(--radius-pill);

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 2;

  cursor: pointer;
}

.video {
  position: absolute;
  left: 0px;
  top: 0px;

  width: 100%;
  height: 100%;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

iframe,
img {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-md);
}
